.game-screen {
    position: relative;
    /* 确保子元素可以相对该容器定位 */
    width: 95vw;
    height: 85vh;
    overflow: hidden;
    background: url("../../assets/image/bg.webp") no-repeat center center;
    /* 添加no-repeat和center center来防止图片重复并居中 */
    background-size: cover;
    cursor: pointer;
    /* 确保背景图片覆盖整个容器 */

}

.shape {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.score {
    position: fixed;
    display: flex;
    align-items: center;
    top: 20px;
    left: 20px;
    font-size: 24px;
}

.timer {
    position: fixed;
    display: flex;
    align-items: center;
    top: 20px;
    left: 150px;
    font-size: 24px;
}